{% extends 'body.html' %}
{% block title %} О блоге {% endblock %}
{% block content %} 
    <h2>О блоге</h2>
    <p>Данный блог представляет собой новостную ленту с возможностю доваления статей через специалтзированную форму.</p>
    <p>Имеет разделы "об авторе", и панкль администрирования с возможность ручного манипулирования добавленными статями(их удалением, редактированием, и добавлением) </p>
    <p> Дле перехода между двумя раздлами блога(раздел 1 и 2) используйте специалезированные ссылки в шапке сайта</p>
    <p>Для добавления статьи нажмите на зеленую кнопку внизу списка статей</p>
{% endblock %}