{% extends 'body.html' %}
{% block title %} статьи {% endblock %}
{% block content %} 
    {% if art_list %}
        {% for art in art_list %}
            <div class = "article">
                <h2> {{ art.art_name }}     </h2>
                <p>  {{art.body}}     </p>
                <em>  {{art.pub_date}} </em><br>
                <em>Раздел номер: </em>
                <em> {{ art.chapter }}</em>
            </div>
        {% endfor%}
    {% endif %}
    <div class="add_div">
        <a class="add" href="{% url 'create' %}">Добавить статью</a>
    </div>
{% endblock %}